<footer id="footer" class="d-flex flex-column align-items-center justify-content-center mb-5 mb-md-0 gap-2 p-3">
    <div id="footer-logo"></div>
    <div id="contact-icons" class="d-flex gap-2">
        <a id="contact-instagram" class="btn border-0 position-relative d-inline-block overflow-hidden" role="button"></a>
        <a id="contact-facebook" class="btn border-0" role="button"></a>
        <a id="contact-whatsapp" class="btn border-0" role="button"></a>
    </div>
</footer>
<script src="./static/js/bootstrap.bundle.min.js"></script>
<script src="./static/js/script.js"></script>