<section id="nav-slap" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="Espacio de navegación movil">
    <div class="offcanvas-header">
        <h2 id="nav-slap-title" class="offcanvas-title me-auto">Navegación</h2>
        <button type="button" class="exit btn border-0" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
        <nav id="nav-slap-nav" class="nav flex-column">
            <a class="nav-link" href="/">Inicio</a>
            <a class="nav-link" href="/tienda">Tienda</a>
            <a class="nav-link" href="#">Nosotros</a>
        </nav>
    </div>
</section>
<section id="bag-slap" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="Bolsa de compras">
    <div class="offcanvas-header">
        <h2 id="bag-slap-title" class="offcanvas-title me-auto">Bolsa</h2>
        <button type="button" class="exit btn border-0" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
    </div>
</section>
<section id="favorite-slap" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="Favoritos">
    <div class="offcanvas-header">
        <h2 id="favorite-slap-title" class="offcanvas-title me-auto">Favoritos</h2>
        <button type="button" class="exit btn border-0" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
    </div>
</section>
<section id="search-slap" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="Busqueda">
    <div class="offcanvas-header d-flex justify-content-end">
        <form action="#" class="flex-fill">
            <input type="text" class="form-control" placeholder="Buscar...">
        </form>
        <button type="button" class="exit btn ms-3 border-0" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
</section>
<section id="login-modal" class="modal fade" tabindex="-1" aria-labelledby="Inicio de Sesión" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header px-4">
                <h1 class="modal-title me-auto" id="login-title">Iniciar Sesión</h1>
                <button type="button" class="exit btn border-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <form action="POST">
                    <div class="form-floating mb-2">
                        <input type="email" id="input-email" class="form-control" placeholder="tu_correo@yaslimoda.com">
                        <label for="input-email" class="form-label">Correo</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" id="input-password" class="form-control" placeholder="●●●●●●●●">
                        <label for="input-password" class="form-label">Contraseña</label>
                    </div>
                    <div class="row gap-2 mx-2">
                        <input type="submit" class="btn btn-primary border-0" value="Ingresar">
                        <button type="button" id="Register-button" class="btn btn-secondary border-0" data-bs-toggle="modal" data-bs-target="#register-modal" aria-controls="Registrarse">Registrarse</button>
                    </div>
                </form>
                <div class="text-center my-3">
                    <a id="forgot-password" class="fw-bolder" href="#">Olvidé mi contraseña</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="register-modal" class="modal fade" tabindex="-1" aria-labelledby="Inicio de Sesión" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header px-4">
                <button type="button" id="Retroceder-register" class="retroceder btn border-0" data-bs-toggle="modal" data-bs-target="#login-modal" aria-controls="Retroceder"></button>
                <h1 class="modal-title mx-auto" id="Register-title">Registrarse</h1>
                <button type="button" class="exit btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <form action="POST">
                    <div class="form-floating mb-2">
                        <input id="name" type="text" class="form-control" placeholder="Nombre">
                        <label for="name" class="form-label">Nombre</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input id="las-name" type="text" class="form-control" placeholder="Apellido">
                        <label for="last-name" class="form-label">Apellido</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input id="email" type="email" class="form-control" placeholder="Correo Electrónico">
                        <label for="email" class="form-label">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input id="password" type="password" class="form-control" placeholder="●●●●●●●●">
                        <label for="password" class="form-label">Contraseña</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input id="password-2" type="password" class="form-control" placeholder="●●●●●●●●">
                        <label for="password-2" class="form-label">Repetir Contraseña</label>
                    </div>
                    <div class="mb-3">
                        <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" id="fecha" class="form-control" name="fecha">
                    </div>
                    <div class="mb-8 form-check p-3">
                        <input type="checkbox" name = consent-pro class="form-check-input rounded-0" id="exampleCheck1">
                        <label class="form-check-label" for="consent-pro">Doy mi consentimiento para actividades de promoción comercial relacionadas con Yesti Moda de acuerdo con nuestra Política de privacidad.</label>
                    </div>
                    <div class="mb-8 form-check p-3">
                        <input type="checkbox" name = consent-off class="form-check-input rounded-0" id="exampleCheck2">
                        <label class="form-check-label" for="consent-off">Doy mi consentimiento para obtener ofertas y planes personalizados basados en mis preferencias de acuerdo con la Política de privacidad de Yesti Moda.</label>
                    </div>
                    <div class="row mx-2">
                        <button type="submit" class="btn btn-primary border-0">Registrarse</button>
                    </div>
                    <div class="my-3">
                        <span>Al continuar, confirmas haber leído y entendido <a id="privacy" class="fw-bolder" href="#">Política de privacidad</a> de Yesti Moda </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>